{% extends "base.html" %}

{% block content %}

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ avatar }}" class="d-block mx-lg-auto img-fluid" alt="Profile" width="500" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Аватар</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="photo">Выберите аватар</label>
                <input type="file" class="form-control-file" id="photo" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
      </div>
</div>

{% endblock %}