{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
          <img src="/static/image/{{image}}" class="d-block mx-lg-auto img-fluid" alt="..." width="512" height="512" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">{{language}}</h1>
        <p class="lead">{{about}}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <form method="post">
             {% if add_language %}
                <button type="submit" class="btn btn-primary btn-lg px-4 me-md-2">Добавить в мои ЯП</button>
            {% elif add_language == False %}
                <h4>Курсы</h4>
                <ul>
                <li class="lead"><a href='{{link_1}}' target="_blank" style="color: green; font-style: italic">STEPIK - для первичного ознакомления</a></li>
                </ul>
                <button type="submit" class="btn btn-outline-secondary btn-lg px-4">Удалить</button>
            {% endif %}
            </form>
            <br>


        </div>
      </div>
    </div>
</div>
{% endblock %}