{% extends "base.html" %}
{% block content %}
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
          <img src="/static/image/programing.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
            {% if "python" == programming_lang %}
                <h1 class="display-5 fw-bold lh-1 mb-3">DAILY MOTIVATION BY <em>PYTHON</em> PROGRAMMER</h1>
                <h2 class="primary" style="white-space: pre-wrap">def repeat():<br>    eat()<br>    sleep()<br>    respect_yourself()<br>    write_code()<br>    repeat()</h2>
            {% elif "java" == programming_lang %}
                <h1 class="display-5 fw-bold lh-1 mb-3">DAILY MOTIVATION BY <em>JAVA</em> PROGRAMMER</h1>
                <h2 style="white-space: pre-wrap">public static void repeat() {<br>    eat();<br>    sleep();<br>    respect_yourself();<br>    write_code();<br>    repeat();<br>}</h2>
            {% elif "c_sharp" == programming_lang %}
                <h1 class="display-5 fw-bold lh-1 mb-3">DAILY MOTIVATION BY <em>C#</em> PROGRAMMER</h1>
                <h2 style="white-space: pre-wrap">public static void repeat() {<br>    eat();<br>    sleep();<br>    respect_yourself();<br>    write_code();<br>    repeat();<br>}</h2>
            {% elif "javascript" == programming_lang %}
                <h1 class="display-5 fw-bold lh-1 mb-3">DAILY MOTIVATION BY <em>JAVASCRIPT</em> PROGRAMMER</h1>
                <h2 style="white-space: pre-wrap">function repeat() {<br>    eat();<br>    sleep();<br>    respect_yourself();<br>    write_code();<br>    repeat();<br>}</h2>
            {% elif "swift" == programming_lang %}
                <h1 class="display-5 fw-bold lh-1 mb-3">DAILY MOTIVATION BY <em>SWIFT</em> PROGRAMMER</h1>
                <h2 style="white-space: pre-wrap">func repeat() {<br>    eat()<br>    sleep()<br>    respect_yourself()<br>    write_code()<br>    repeat()<br>}</h2>
            {% else %}
                <h1 class="display-5 fw-bold lh-1 mb-3">DAILY MOTIVATION BY PROGRAMMER</h1>
                <h2 style="white-space: pre-wrap">function repeat() {<br>    eat();<br>    sleep();<br>    respect_yourself();<br>    write_code();<br>    repeat();<br>}</h2>
          {% endif %}
          {% if button %}
              <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="/register" type="button" class="btn btn-primary btn-lg px-4 me-md-2" style="color: #ffffff">Присоединиться</a>
              </div>
          {% endif %}
      </div>
</div>
<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Причины заниматься программированием</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        {% set reasons = [('Развивает логику и творческие способности', 'Что бы вы ни создавали:
        приложение, сайт или компьютерную игру – вы здорово тренируете свои творческие способности,
        прокачиваете свой интеллект и стимулируете выработку нужных нейросвязей в головном мозге.
        Так что, если вы начнете действовать прямо сейчас – наверняка раскроете скрытый потенциал
        своих умственных способностей.'),
        ('Ваши старания окупятся', 'Чем большим количеством навыков вы овладели – тем больше будут
        стоить ваши услуги. Тут главное – относиться к обучению серьезно: не лениться и не пускать
        все на самотек. При должном усердии шанс устроиться на высокооплачиваемую работу и стать
        большим специалистом своего дела возрастает в разы. Конечно, первое время после окончания
        обучения, вам придется работать за еду, но по-другому не получится. Вы должны четко
        определить себе конечную цель и идти к ней, невзирая на сложности.'),
        ('Научитесь экономить время себе и людям', 'Одна из важнейших способностей, которую вы
        получите, обучившись программированию – это навык решения задач. Ваш мозг будет четко
        справляться с любыми бытовыми проблемами, четко раскладывая их по полочкам. А с помощью
        грамотно написанных вами скриптов, вы сможете автоматизировать любой процесс, существенно
        сэкономив себе или клиенту важный ресурс – время.')]%}
        {% for name, about in reasons %}

            <div class="col d-flex align-items">
                <div>
                    <h2>{{ name }}</h2>
                    <p>{{ about }}</p>
                </div>
            </div>

    {% endfor %}
    </div>
</div>
{% endblock %}