{% extends "base.html" %}
{% block content %}
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
          <img src="/static/image/programing.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
            {% if "python" == programming_lang %}
                <h1 class="display-5 fw-bold lh-1 mb-3">DAILY MOTIVATION BY <em>PYTHON</em> PROGRAMMER</h1>
                <h2 class="primary" style="white-space: pre-wrap">def repeat():<br>    eat()<br>    sleep()<br>    respect_yourself()<br>    write_code()<br>    repeat()</h2>
            {% elif "java" == programming_lang %}
                <h1 class="display-5 fw-bold lh-1 mb-3">DAILY MOTIVATION BY <em>JAVA</em> PROGRAMMER</h1>
                <h2 style="white-space: pre-wrap">public static void repeat() {<br>    eat();<br>    sleep();<br>    respect_yourself();<br>    write_code();<br>    repeat();<br>}</h2>
            {% elif "c_sharp" == programming_lang %}
                <h1 class="display-5 fw-bold lh-1 mb-3">DAILY MOTIVATION BY <em>C#</em> PROGRAMMER</h1>
                <h2 style="white-space: pre-wrap">public static void repeat() {<br>    eat();<br>    sleep();<br>    respect_yourself();<br>    write_code();<br>    repeat();<br>}</h2>
            {% elif "javascript" == programming_lang %}
                <h1 class="display-5 fw-bold lh-1 mb-3">DAILY MOTIVATION BY <em>JAVASCRIPT</em> PROGRAMMER</h1>
                <h2 style="white-space: pre-wrap">function repeat() {<br>    eat();<br>    sleep();<br>    respect_yourself();<br>    write_code();<br>    repeat();<br>}</h2>
            {% elif "swift" == programming_lang %}
                <h1 class="display-5 fw-bold lh-1 mb-3">DAILY MOTIVATION BY <em>SWIFT</em> PROGRAMMER</h1>
                <h2 style="white-space: pre-wrap">func repeat() {<br>    eat()<br>    sleep()<br>    respect_yourself()<br>    write_code()<br>    repeat()<br>}</h2>
            {% else %}
                <h1 class="display-5 fw-bold lh-1 mb-3">DAILY MOTIVATION BY PROGRAMMER</h1>
                <h2 style="white-space: pre-wrap">function repeat() {<br>    eat();<br>    sleep();<br>    respect_yourself();<br>    write_code();<br>    repeat();<br>}</h2>
          {% endif %}
          {% if button %}
              <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="/register" type="button" class="btn btn-primary btn-lg px-4 me-md-2" style="color: #ffffff">Присоединиться</a>
              </div>
          {% endif %}

      </div>
</div>
{% endblock %}