{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <div class="col">
      <a href="/languages/python">
        <div class="card border-0 text-center" style="width: 18rem;">
          <img src="/static/image/обработка_данных.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-text">Обработка данных</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <div class="card border-0 text-center" style="width: 18rem;">
        <img src="/static/image/искусственный_интеллект.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-text">Создание исскуственного интеллекта</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-0 text-center" style="width: 18rem;">
        <img src="/static/image/софт_для_ПК.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-text">Софт для ПК</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-0 text-center" style="width: 18rem;">
        <img src="/static/image/веб_разработка.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-text">Веб-разработка</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-0 text-center" style="width: 18rem;">
        <img src="/static/image/мобильная_разработка.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-text">Мобильные приложения</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <a href="/tests/1/<создание_игр>">
      <div class="card border-0 text-center" style="width: 18rem;">
        <img src="/static/image/разработка_игр.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-text">Создание игр</h3>
        </div>
      </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}